<div style="width: 80%; display: block; margin: 20px auto 10px auto;">
    <h1 style="font-size: 15px; color: #419ea6; text-align: center">Vous avez reçu un nouveau message :</h1>
</div>
<div style="width: 80%; display: block; margin: 20px auto;">
    <p><strong>De la part de :</strong> {{ firstName }} {{ lastName }}</p>
    <p><strong>Email :</strong> {{ email }}</p>
    <p><strong>Numéro de téléphone :</strong> {{ phoneNumber }}</p>
    <p><strong>Message reçu :<br></strong>{{ message }}</p>
</div>
